.*.sw?
todo.txt
.env
.ipynb
.DS_Store
*.log
.sass-cache
Guardfile
_site
/*.gz
/*.map
.ipynb_checkpoints
.vscode
dist/
node_modules/
npm-debug.log
/test/js
/test/browsertest/js
/test/fixtures/temp-cache-fixture
/benchmark/js
/benchmark/fixtures
/examples/**/dist
/coverage
.idea
.vscode
.eslintcache
package-lock.json
**/__pycache__/
.pytest_cache/*
code/__pycache__/*
code/__pycache__/**
neuron_this.txt
neuron_this.html
neuron.json
/private
*.sur
tests/env